body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
.nav-ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}
.landing-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: greenyellow;
}
